<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<remove name="WebDAV" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<modules>
			<remove name="WebDAVModule" />
		</modules>
		<aspNetCore processPath="dotnet"
			  arguments=".\MoldApi.dll"
			  stdoutLogEnabled="true"
			  stdoutLogFile=".\logs\stdout"
			  hostingModel="inprocess">
		</aspNetCore>
		<security>
			<requestFiltering>
				<verbs>
					<add verb="GET" allowed="true" />
					<add verb="POST" allowed="true" />
					<add verb="PUT" allowed="true" />
					<add verb="DELETE" allowed="true" />
					<add verb="OPTIONS" allowed="true" />
				</verbs>
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>